    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.2);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 100;
    }
    
    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        transition-property: background-color;
        transition-property: opacity;
        @include transition (background-color opacity);
    }
    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 25px 25px;
        z-index: 100;
        width: calc(100% - 30px);
        /* height: auto; */
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 1);
        @media screen and (min-width: 480px) {
            width: 450px;
            padding: 40px 40px;
        }
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        @media screen and (min-width: 1200px) {
            min-width: 528px;
            min-height: 581px;
        }
        .modal__header {
            display: block;
            /* width: 370px; */
            margin-bottom: 30px;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            letter-spacing: 0.03em;
            @media screen and (min-width: 480px) {
                width: 370px;
            }
            @media screen and (min-width: 1200px) {
                width: 100%;
            }
        }
    }
    
    .callback-form {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
    }
    
    .callback-form input {
        width: 100%;
        height: 40px;
        padding-left: 32px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        outline: none;
        @include transition (border-color);
        &:hover,
        &:focus {
            border-color: $theme-color;
            cursor: pointer;
        }
        @media screen and (min-width: 1200px) {}
    }
    
    .callback-form textarea {
        resize: none;
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        outline: none;
        @include transition (border-color);
        &:hover,
        &:focus {
            border-color: $theme-color;
            cursor: pointer;
        }
        &:placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
        @media screen and (min-width: 1200px) {
            height: 120px;
        }
    }
    
    .callback-form label[id="user-agree"] {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-align: center;
        color: rgba(117, 117, 117, 0.1);
    }
    
    .callback-form__field {
        position: relative;
        margin-bottom: 28px;
        &:focus-within>svg {
            fill: $theme-color;
        }
        &:hover>svg {
            fill: $theme-color;
        }
    }
    
    .callback-form__field--comment {
        margin-bottom: 20px;
    }
    
    .contract-conditions {
        margin-left: 4px;
        color: $theme-color;
        text-decoration: underline;
        @include transition (color);
    }
    
    .callback-form__label {
        position: absolute;
        top: -18px;
        left: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.03em;
        color: $text-secondary;
    }
    
    .callback-form input[id="user-agree"] {
        width: 16px;
        height: 15px;
        visibility: hidden;
        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid $text-primary;
            background-color: #000000;
        }
    }
    
    .confirmation {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba(117, 117, 117, 1);
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
    }
    
    .user-agree:checked+.confirmation__icon {
        content: '';
        background-image: url(../images/iconcheck.svg);
        background-color: $theme-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;
        border-color: $theme-color;
    }
    
    .form-field-agree a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $theme-color;
        text-decoration: underline;
        margin-left: 4px;
    }