  $theme-color: #2996f3;
  $theme-color-secondary: #2F303A;
  $text-primary: #212121;
  $text-secondary: #757575;
  $text-secondary-lighter: #ffffff;
  $primary-font: 'Roboto',
  sans-serif;
  $secondary-font: 'Raleway',
  sans-serif;
  $button-hover: rgba(24, 140, 232, 1);