    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
        @media screen and (min-width: 480px) {
            width: 480px;
        }
        @media screen and (min-width: 768px) {
            width: 768px;
            display: flex;
        }
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }
    
    .container__team,
    .container__customers,
    .hero__container {
        @media screen and (min-width: 768px) {
            flex-direction: column;
        }
    }
    
    .common-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 16px;
        @media screen and (min-width: 768px) {
            justify-content: center;
            padding-bottom: 0;
        }
    }
    
    .footer-container {
        @media screen and (min-width: 768px) {
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }
    
    .mobile-menu-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        background-color: $text-secondary-lighter;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }
    
    .mobile-menu-container.is-open {
        transform: translateX(0);
    }